n8n-workflows/incident-response-malware.json
{
  "name": "Logan - Malware Incident Response",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook - Malware Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "logan-malware-response"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equal",
              "value2": "critical"
            }
          ]
        }
      },
      "name": "Critical Severity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.edr_api_url }}/isolate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"host_id\": \"{{ $json.host_id }}\",\n  \"isolation_type\": \"network\",\n  \"reason\": \"Malware detected - automated isolation\"\n}"
      },
      "name": "Isolate Host (Critical)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edr-api-key",
          "name": "EDR API Key"
        }
      }
    },
    {
      "parameters": {
        "channel": "C1234567890",
        "text": "🚨 **CRITICAL MALWARE INCIDENT** 🚨\n\n**Incident ID:** {{ $json.incident_id }}\n**Host:** {{ $json.hostname }}\n**Malware:** {{ $json.malware_family }}\n**Status:** Host isolated automatically\n\n**Actions Taken:**\n✅ Host network isolation\n⏳ Creating incident ticket\n⏳ Collecting evidence\n\n**Next Steps:**\n1. Review malware analysis\n2. Check for lateral movement\n3. Begin containment procedures",
        "attachments": [],
        "options": {}
      },
      "name": "Alert SOC - Critical",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-soc-bot",
          "name": "Slack SOC Bot"
        }
      }
    },
    {
      "parameters": {
        "channel": "C1234567890",
        "text": "⚠️ **Malware Detection** ⚠️\n\n**Incident ID:** {{ $json.incident_id }}\n**Host:** {{ $json.hostname }}\n**Severity:** {{ $json.severity }}\n**Malware:** {{ $json.malware_family }}\n\n**Actions:**\n✅ Incident ticket created\n⏳ Investigating...\n\n**Analyst:** Please review and take appropriate action.",
        "attachments": [],
        "options": {}
      },
      "name": "Alert SOC - Standard",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "slackApi": {
          "id": "slack-soc-bot",
          "name": "Slack SOC Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "{{ $json.ticketing_api_url }}/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"title\": \"Malware Detection: {{ $json.malware_family }} on {{ $json.hostname }}\",\n  \"description\": \"Automated malware detection alert from Logan Security Dashboard\\n\\n**Details:**\\n- Host: {{ $json.hostname }}\\n- IP: {{ $json.host_ip }}\\n- Malware Family: {{ $json.malware_family }}\\n- File Path: {{ $json.file_path }}\\n- Hash: {{ $json.file_hash }}\\n- Detection Time: {{ $json.detection_time }}\\n\\n**Recommended Actions:**\\n1. Verify malware family and capabilities\\n2. Check for persistence mechanisms\\n3. Scan for lateral movement\\n4. Collect additional artifacts\\n5. Begin eradication procedures\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"category\": \"Malware\",\n  \"source\": \"EDR - Automated Detection\",\n  \"assignee\": \"soc-team\",\n  \"tags\": [\"malware\", \"{{ $json.malware_family }}\", \"automated\"],\n  \"iocs\": [\n    \"{{ $json.file_hash }}\",\n    \"{{ $json.file_path }}\",\n    \"{{ $json.host_ip }}\"\n  ],\n  \"affected_systems\": [\"{{ $json.hostname }}\"]\n}"
      },
      "name": "Create Incident Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "ticketing-system",
          "name": "Ticketing System Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "{{ $json.threat_intel_api }}/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"hash\": \"{{ $json.file_hash }}\",\n  \"ip\": \"{{ $json.host_ip }}\",\n  \"domain\": \"{{ $json.contacted_domain }}\"\n}"
      },
      "name": "Threat Intel Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "threat-intel-api",
          "name": "Threat Intel API"
        }
      }
    },
    {
      "parameters": {
        "url": "{{ $json.forensics_api }}/collect",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"host_id\": \"{{ $json.host_id }}\",\n  \"incident_id\": \"{{ $json.incident_id }}\",\n  \"artifacts\": [\n    \"process_list\",\n    \"network_connections\",\n    \"file_hash_analysis\",\n    \"registry_changes\",\n    \"memory_dump\"\n  ],\n  \"priority\": \"{{ $json.severity }}\"\n}"
      },
      "name": "Collect Forensic Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "forensics-api",
          "name": "Forensics API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.threat_level }}",
              "operation": "equal",
              "value2": "high"
            }
          ]
        }
      },
      "name": "High Threat Level?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.pagerduty_api }}/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"incident\": {\n    \"type\": \"incident\",\n    \"title\": \"High-Threat Malware: {{ $json.malware_family }}\",\n    \"service\": {\n      \"id\": \"{{ $json.pagerduty_service_id }}\",\n      \"type\": \"service_reference\"\n    },\n    \"urgency\": \"high\",\n    \"body\": {\n      \"type\": \"incident_body\",\n      \"details\": \"High-threat malware detected requiring immediate attention\\n\\nIncident: {{ $json.incident_id }}\\nHost: {{ $json.hostname }}\\nThreat: {{ $json.malware_family }}\\nThreat Level: {{ $json.threat_level }}\"\n    }\n  }\n}"
      },
      "name": "Page On-Call (High Threat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pagerduty-api",
          "name": "PagerDuty API"
        }
      }
    },
    {
      "parameters": {
        "url": "{{ $json.logan_api }}/incidents/{{ $json.incident_id }}/update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"status\": \"investigating\",\n  \"timeline\": [\n    {\n      \"timestamp\": \"{{ $now }}\",\n      \"type\": \"response\",\n      \"description\": \"Automated response workflow completed\",\n      \"author\": \"n8n Workflow\",\n      \"automated\": true\n    }\n  ],\n  \"artifacts\": [\n    {\n      \"name\": \"Threat Intelligence Report\",\n      \"type\": \"document\",\n      \"url\": \"{{ $json.threat_intel_report_url }}\"\n    },\n    {\n      \"name\": \"Forensic Evidence\",\n      \"type\": \"log\",\n      \"url\": \"{{ $json.forensic_evidence_url }}\"\n    }\n  ]\n}"
      },
      "name": "Update Logan Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2220, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "logan-api-key",
          "name": "Logan API Key"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Malware Alert": {
      "main": [
        [
          {
            "node": "Critical Severity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Severity?": {
      "main": [
        [
          {
            "node": "Isolate Host (Critical)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert SOC - Standard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate Host (Critical)": {
      "main": [
        [
          {
            "node": "Alert SOC - Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert SOC - Critical": {
      "main": [
        [
          {
            "node": "Create Incident Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert SOC - Standard": {
      "main": [
        [
          {
            "node": "Create Incident Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Incident Ticket": {
      "main": [
        [
          {
            "node": "Threat Intel Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threat Intel Enrichment": {
      "main": [
        [
          {
            "node": "Collect Forensic Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Forensic Evidence": {
      "main": [
        [
          {
            "node": "High Threat Level?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Threat Level?": {
      "main": [
        [
          {
            "node": "Page On-Call (High Threat)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Logan Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page On-Call (High Threat)": {
      "main": [
        [
          {
            "node": "Update Logan Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-18T12:00:00.000Z",
      "updatedAt": "2024-07-18T12:00:00.000Z",
      "id": "logan-security",
      "name": "Logan Security"
    }
  ],
  "meta": {
    "instanceId": "logan-security-dashboard"
  }
}